@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    
}
.nav
{
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 1rem 0;
}

.nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 104.2rem;
    margin-left: auto;
    margin-right: auto;  
}

.nav .nav-container ul{
    display: flex;
    list-style: none;
    
    gap: 1.2rem;
}

.nav .nav-container .nav-logo figure{
    width: 8rem
}
.nav .nav-container .nav-logo figure img {
    width: 100%;
   
}
.nav .nav-container .nav-list li .nav-list-link {
    display: flex;
    gap: 1.2rem;
}
.sec article {
    text-align: center;
    padding-top: 4rem;
    font-size: 9rem;
} 

.sec section {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    gap: 1.2rem;
    
}

.sec section button {
    border-radius: 1rem;
}
 .sec section .firstbutton
{
    width: 10rem;
    text-align: center;
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(20, 80, 240);
    color: white;
}
.sec section .secondbutton {

    width: 10rem;
    text-align: center;
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
}
.name {
    color: grey;
}
.sec {
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;

}
.nav-list:hover{
    color: blue;
}
.nav-list li:nth-of-type() {
    
}
 





