@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    
}
.nav
{
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 1rem 0;
}

.nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 104.2rem;
    margin-left: auto;
    margin-right: auto;  
}

.nav .nav-container ul{
    display: flex;
    list-style: none;
    
    gap: 1.2rem;
}

.nav .nav-container .nav-logo figure{
    width: 8rem;
}
.nav .nav-container .nav-logo figure img {
    width: 100%;
   
}
.nav .nav-container .nav-list li .nav-list-link {
    display: flex;
    gap: 1.2rem;
}
.sec article {
    text-align: center;
    padding-top: 4rem;
    font-size: 9rem;
} 

.sec section {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    gap: 1.2rem;
    
}
.name {
    color: grey;
}
.sec {
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;

}
ul li a:hover{
    color: blue;
}

.nav-list li:nth-of-type() {

}
 button:nth-of-type(1) {
    padding: 1.3rem 2.8rem;
    border-radius: 20rem;
    border: none;
    background-color: blue;
    color: white;
 }
 button:nth-of-type(2) {
   padding: 1.3rem 2.9rem;
    border-radius: 20rem;
    
 }
 .image-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 130rem;

 }
 .imgs {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
 }

 .img-1 {
    width: 30%;
    border-radius: 1rem;
 }
 .img-2 {
    width: 70%;
    border-radius: 1rem;
 }
 .text-section {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 70rem;
 }
 
 .explore {
    margin-bottom: 1rem;
    font-size: 4rem;
 }
 .offering {
    color: grey;
 } 
 .embark {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    max-width: 95%;
    text-indent: rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
 }
 .skills {
    margin-left: auto;
    margin-right: auto;
    max-width: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 .skill-list {
    gap: 1.5rem;
    display: flex;
    list-style: none;
    max-width: 100rem;
 }
 .sep {
    padding: 0.9rem 0.7rem;
    border: 1px solid black;
    max-width: 30%;  
 }
 .skills-2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;  
 }
 .skill-list-2{
    margin-top: 2rem;
    gap: 1.5rem;
    display: flex;
    list-style: none;
    max-width: 100rem;
 }






